# For running LLMs hosted by openai (gpt-4o, gpt-4o-mini, etc.)
# Get your OpenAI API key from https://platform.openai.com/
OPENAI_API_KEY=your-openai-api-key

# For running LLMs hosted by groq (deepseek, llama3, etc.)
# Get your Groq API key from https://groq.com/
GROQ_API_KEY=your-groq-api-key

# For running LLMs hosted by anthropic (claude-3-5-sonnet, claude-3-opus, claude-3-5-haiku)
# Get your Anthropic API key from https://anthropic.com/
ANTHROPIC_API_KEY=your-anthropic-api-key

# For getting financial data to power the hedge fund
# Get your Financial Datasets API key from https://financialdatasets.ai/
FINANCIAL_DATASETS_API_KEY=your-financial-datasets-api-key

#firebase
NEXT_PUBLIC_apiKey="AIzaSyAz4paoPHpAZWaAUKaakQFf8KRW7m_tQjo"
NEXT_PUBLIC_authDomain="quant-ai-agent.firebaseapp.com"
NEXT_PUBLIC_projectId="quant-ai-agent"
NEXT_PUBLIC_appId="1:127312197691:web:633156d43979007487041e"
NEXT_PUBLIC_storageBucket="quant-ai-agent.firebasestorage.app"
NEXT_PUBLIC_messagingSenderId="127312197691"
NEXT_PUBLIC_measurementId="G-WWVHEQS8HC"
